*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}
a{
    text-decoration: none;

}
ul{
    list-style: none;
}
body{
    margin: 0px 0px;
    padding: 0px;
    font-family: poppins;
}


#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    background-color: rgb(3, 3, 3);
    width: auto;
    height: 103px;

}

.top{
    right: auto;
    position: relative;
    float: right;
    margin: 10px;
    padding-right: 10px;
    padding-left: 1px;
    color: rgba(17, 180, 72, 0.5);
}


#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    background-image: url("background.png");
}
.blog-heading span
{
    font-size: 30px;
    color: rebeccapurple;
}
.blog-heading h3
{
    font-size: 2.4rem;
    color: rgb(200, 40, 228);
    font-weight: 500;
}
.blog-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 350px;
    background-color: black;
    border:1px solid #ececec;
    margin: 20px 0px;

}
.blog-img img{
    
    object-position: center;
}
.blog-text{
    padding:30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.blog-text span
{
    color: red;
    font-size: 0.9rem;
}
.blog-text a
{
text-align: center;
}
.blog-text .blog-title{
    font-size:1.3rem;
    font-weight: 500;
    color: darkcyan;

}
.blog-text .blog-title:hover
{
    color: blueviolet;
    transition: all ease 0.3s;
}
.blog-text p{
    color:rgb(179, 28, 98);
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: black;
}
.blog-text a:hover
{
    color:darkorchid;
    transition: all ease 0.5s;
}